p{
    margin: 10px 10px 10px 10px;
}


img{
    height:200px; 
    width: 200px;
}


a{
    margin-right: 50px;
}


h3{
    color: rgb(143, 7, 86);
}


#especial {
    color: rgba(189, 25, 25, 0.904);
    text-align: center;
    font-size: 35px;
}

h1{
    text-align: center;
}

.diferente{
    color: rgb(15, 112, 23);
}
#aqui{
    text-align: center;
}
